<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- OGP Thumbnails to fix missing images on Note/Twitter -->
<meta property="og:image" content="https://twsnmp.github.io/twsnmpfm/images/twsnmpfm.png" />
<meta property="og:image:width" content="1138" />
<meta property="og:image:height" content="640" />
<meta name="twitter:image" content="https://twsnmp.github.io/twsnmpfm/images/twsnmpfm.png" />
<meta name="twitter:card" content="summary_large_image" />

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
